@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --primary: #9173bb;
  --secondary-foreground: #a1a1aa;
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #9173bb;
    --secondary-foreground: #a1a1aa; 
    --border: #27272a; 
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
